[Unit]
Description=Teragrep Metadata Using HBase
Documentation=https://github.com/teragrep/hbs_03
After=network.target

[Service]
Type=simple
User=srv-hbs_03
Group=srv-hbs_03
EnvironmentFile=/etc/sysconfig/hbs_03
WorkingDirectory=/opt/teragrep/hbs_03
ExecStart=/usr/lib/jvm/jre-11-openjdk/bin/java $JAVA_OPT -jar /opt/teragrep/hbs_03/lib/hbs_03.jar \
$DB_URL_OPT \
$DB_USER_OPT \
$DB_PASSWORD_OPT \
$START_OPT \
$END_OPT \
$JOURNALDB_NAME_OPT \
$STREAMDB_NAME_OPT \
$BLOOMDB_NAME_OPT \
$HBASE_OPT \
$EXTRA_OPT
SuccessExitStatus=0
Restart=no
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target